<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crowdfunding.manager.dao.IPermissionDao">

    <resultMap id="permissionResult" type="com.crowdfunding.bean.Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pid" property="pid"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
    </resultMap>
    <insert id="savaPermission">
     insert into t_permission(pid,name,icon,url)
     values (#{pid},#{name},#{icon},#{url})
    </insert>
    <update id="updatePermission">
        update t_permission set name=#{name},icon=#{icon},url=#{url}
        where id=#{id}
    </update>
    <delete id="deletePermission">
        delete from t_permission where id=#{id}
    </delete>

    <select id="getRootPermission" resultType="com.crowdfunding.bean.Permission">
        select *from t_permission where pid is null
    </select>

    <select id="getChildrenPermissionBypid" resultMap="permissionResult" parameterType="integer">
    select  *from t_permission where pid=#{pid}
    </select>

    <select id="queryAll" resultMap="permissionResult">
        select *from t_permission;
    </select>
    <select id="getPermissionByID" resultType="com.crowdfunding.bean.Permission">
        select *from  t_permission where id=#{id}
    </select>
</mapper>